# -------------------------------------------------
# ----------------- OwnPocket --------------------
# -------------------------------------------------

PORT=8080
DB_PATH="../data/app.db"

# CHANGE ME -> Run: 'openssl rand -hex 32'
JWT_SCRET="e8a46bd6b8b300bcd0f03a64087b20d856a9d546248ab45458316e08ca66b53f"
